
@{
    ViewBag.Title = "Doktorlar";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


    <div class="">
        <div class="row mx-3">
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Male-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Berat Aslan</h5>
                    <p class="card-text">Kardiyoloji</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Male-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Levent Toksöz</h5>
                    <p class="card-text">Psikiyatri</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Male-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Yusuf Bülent</h5>
                    <p class="card-text">Üroloji</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Male-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Furkan Aslantürk</h5>
                    <p class="card-text">Nöroloji</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Female-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ayça Sayıcı</h5>
                    <p class="card-text">Üroloji</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Male-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fikret Türkoğlu</h5>
                    <p class="card-text">Radyoloji</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Female-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Emine Korkmaz</h5>
                    <p class="card-text">Psikiyatri</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Male-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Feyzi Durmuş</h5>
                    <p class="card-text">Nöroloji</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Female-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Evrim Tunçeri</h5>
                    <p class="card-text">Radyoloji</p>
                </div>
            </div>
            <div class="card mr-3 mt-3 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/People-Doctor-Female-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cemile Bölükbaşı</h5>
                    <p class="card-text">Kardiyoloji</p>
                </div>
            </div>
        </div>

    </div>
