
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/9_1569487773.jpg" class="w-100" alt="" height="970px">
            <div class="carousel-caption">
                <h3>Kardiyoloji</h3>
                <p>Suit hasta odası</p>
            </div>
        </div>
        <div class="carousel-item w-100">
            <img src="~/Images/vigam-hastane-odalari-dekorasyon-projeleri-122030-17-B.jpg" class="w-100"   alt="" height="970px">
            <div class="carousel-caption">
                <h3>Nöroloji</h3>
                <p>Suit hasta odası</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Images/f7da6b27-e5b4-4eb7-b18d-63786389d704.jpg" class="w-100"  alt="" height="970px">
            <div class="carousel-caption">
                <h3>Psikiyatri</h3>
                <p>Suit hasta odası</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>