
@{
    ViewBag.Title = "Uzmanliklar";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <div class="bg-light p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/pngflow.com (12).png" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6 text-dark">
                    <h3>Psikiyatri</h3>
                    <hr class="border-dark" />
                    <p class="lead">
                        Psikiyatri polikliniğimizde, psikiyatrik sorunların tanısı ve tedavisi hakkında güncel, gerçekçi çözümler bilimsel/tıbbi temeller üzerinde üretilmektedir.Poliklinik hizmetlerimiz kaçınılmaz olarak tanı ve tedavi uygulamalarında spekülatif yöntemlerden uzak, kanıta dayalı çözümler üretmeyi ilke edinmiştir.
                    </p>
                    <button class="btn btn-outline-dark btn-lg">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        İncele
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-dark">
                    <h3>Üroloji</h3>
                    <hr class="border-dark" />
                    <p class="lead">
                        Üroloji Bölümü, her iki cinsiyet ve her yaş grubunda böbrek, üreter (böbrek ile mesane arasındaki idrar kanalları), mesane (idrar torbası) ve üretra (mesaneden vücut dışarısına idrarın taşındığı kanal) hastalıklarıyla ilgilenen önemli bir tıbbi bölümdür. Üroloji bölümünde alanında uzman hekimler tarafından teşhis edilen bu hastalıklar, uygun medikal ve modern cerrahi ekipmanlardan yararlanılarak başarılı bir şekilde tedavi edilebilmektedir.
                    </p>
                    <button class="btn btn-outline-dark btn-lg">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        İncele
                    </button>
                </div>
                <div class="col-md-6">
                    <img src="~/Images/pngflow.com (13).png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light p-5">
        <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/pngflow.com (10).png" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6 text-dark">
                    <h3>Nöroloji</h3>
                    <hr class="border-dark" />
                    <p class="lead">
                        Nöroloji sinir sisteminin anatomik ve fizyolojik özellikleri ile çeşitli nedenlerle ortaya çıkan bozukluklarını ve klinik sendromlarını inceler. Günümüzdeki bilimsel gelişmeler, doğal olarak nörolojiye de yansımış ve nörolojinin alt bölümleri ortaya çıkmıştır. İyi organize olmuş nöroloji bölümleri, bu yapılanmayı oluşturabilen kuruluşlardır. Çeşitli nörolojik hastalıkların tanı ve tedavileri ancak bu işbirliğini gerçekleştirebilen nörolog grubu tarafından, en iyi şekilde yapılabilmektedir.
                    </p>
                    <button class="btn btn-outline-dark btn-lg">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        İncele
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-dark">
                    <h3>Kardiyoloji</h3>
                    <hr class="border-dark" />
                    <p class="lead">
                        Yeni doğan bebeklerden, en ileri yaşlardaki erişkinlere kadar her türlü kalp hastasına tanı ve tedavi imkanı sağlanmış bulunmaktadır. Gebelik sırasında kalp hastalığının teşhis edildiği "Fetal Kardiyoloji Ünitesi’nde, anne karnında kalp hastalıklarının tanısı konulabilmektedir. Merkez, kalp hastalıklarında muayene, teşhis, tedavi, rehabilitasyon ve koroner yoğun bakım konularında hastalarına hizmet vermektedir.
                    </p>
                    <button class="btn btn-outline-dark btn-lg">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        İncele
                    </button>
                </div>
                <div class="col-md-6">
                    <img src="~/Images/pngflow.com (11).png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/pngflow.com (14).png" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6 text-dark">
                    <h3>Radyoloji</h3>
                    <hr class="border-dark" />
                    <p class="lead">
                        Tamamen dijital teknoloji ile çalışan sistemlerden elde edilen dijital görüntüler, yine dijital ortamda arşivlenmektedir. Konvansiyonel yöntemlerde elde edilen görüntülere göre daha detaylı, inceleme süresi daha kısa, tanıda daha yeterli görüntüler elde edilebilmektedir ve bu görüntüler özel iş istasyonlarında deneyimli uzman doktorlar tarafından incelenmektedirler.
                    </p>
                    <button class="btn btn-outline-dark btn-lg">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        İncele
                    </button>
                </div>
            </div>
        </div>
    </div>

